.collection-list-type2{
  display: block;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border-radius:var(--radius);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:0;
}
.collection-list-type2 .image-hover-box__container{
  z-index:-1;
}
.collection-list-type2__container{
  display:flex;
  position:absolute;
  padding:10px;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:10;
}
.collection-list-type2__bg{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
  padding:15px;
  background:rgba(var(--color-box-background-block, var(--color-body-background-rgb)), var(--box-opacity));
  border-radius:max(0px, calc(var(--radius) - 10px));
  transition: transform var(--duration-medium) ease-in-out;
  width: 100%;
}
@media (min-width:1025px){
  .collection-list-type2:hover .collection-list-type2__bg {
    transform: translateY(-10px);
  }
  .collection-list-type2:hover .align-items-start.justify-content-center .collection-list-type2__bg {
    transform: translateY(10px);
  }
}
@media (max-width:576px){
  .page-grid-sp-2 .collection-list__heading,
  [data-swiper-mobile-grid="2"] .collection-list__heading{
    font-size: calc(16px * var(--font-heading-scale));
  }
}