.shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area {
  background: var(--color-body-background);
  border-color: var(--color-lines-section, var(--color-lines));
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__button {
  color: var(--color-base);
}
@media (min-width:1025px) {
  .shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:hover {
    color: var(--color-accent);
  }
}
.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:active,
.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control.focus-visible:focus {
  color: var(--color-base);
  background: var(--color-body-background);
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:not(:last-child):after {
  border-color: var(--color-lines-section, var(--color-lines));
}

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:not([hidden]){
  display: flex;
}
.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster{
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-media-icon-main-section, var(--color-media-icon-main));
  background: var(--color-media-background-section, var(--color-media-background));
  border:none;
  width: 40px;
  height: 40px;
  transition: background var(--duration-medium) var(--animation-bezier),
              color var(--duration-medium) var(--animation-bezier);
}
.shopify-model-viewer-ui .shopify-model-viewer-ui__poster-control-icon {
  width: 30px;
  height: 30px;
}
@media (min-width:1025px) {
  .shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:hover, .shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:focus {
    background: var(--color-media-background-hover-section, var(--color-media-background-hover));
    color: var(--color-media-icon-hover-main-section, var(--color-media-icon-hover-main));
  }
}