.menu-with-logo{
  gap:30px;
}
.header-modal-mainmenu .popup-modal__content__data {
    padding-top: 60px;
    padding-bottom: 80px;
}
.header-modal-mainmenu .popup-modal__content__data>*{
  margin: auto 0;
}
.menu-item.menu-item--small:not(:only-child){
  padding-bottom:20px;
}
.menu-item.h4:not(:only-child){
  padding-bottom:20px;
}
.menu-item__childs>*:not(:first-child){
  margin-top:10px;
}
.menu-item__childs>*:has(.menu-item__submenu--big):not(:first-child){
  margin-top:12px;
}
.menu-item{
  display:block;
  font-family: var(--font-mainmenu-family,var(--font-heading-family));
  font-style: var(--font-mainmenu-style,var(--font-heading-style));
  font-weight: var(--font-mainmenu-weight,var(--font-body-weight-bold-value, var(--font-heading-weight)));
  font-size: calc(24px * var(--font-mainmenu_scale, var(--font-heading-scale)));
}
.menu-item.body2{
  font-size: var(--font-body2-size);
  line-height: var(--font-body2-line-height);
  font-weight: var(--font-body-weight);
}
.menu-item:has(img){
  width:100%;
}
.menu-item .image-hover-box__container{
  margin-bottom:16px;
}
.menu-item__submenu{
  position:relative;
  display:flex;
  flex-direction:row;
  align-items: center;
  gap:7px;
  color: var(--color-submenu-text-block, var(--color-base-section, var(--color-base)));
}
.menu-item__submenu svg{
  flex:0 0 auto;
}
.menu-item__submenu:before{
  content:"";
  --extra-height:5px;
  position:absolute;
  top:-5px;
  left:0;
  width:100%;
  height:calc(100% + 5px + var(--extra-height));
}
.menu-item__submenu.menu-item__submenu--big:before{
  --extra-height:6px;
  height:calc(100% + 6px + var(--extra-height));
}
li:last-child>.menu-item__submenu{
  padding-bottom:2px;
}
li:last-child>.menu-item__submenu:before{
  --extra-height:0;
}

.menu-item-animation>span{
  position:relative;
}
.menu-item-animation>span:before{
  content: "";
  position: absolute;
  width: 0;
  height:var(--animation-underline-thin);
  left: 0;
  top: 100%;
  background: var(--color-menu-link-hover,  var(--color-accent-section, var(--color-accent)));
  transition: width var(--duration-medium) var(--animation-bezier);
  pointer-events:none;
}
.main-menu-closed>*{
  padding-left:100px;
  padding-right:calc(100px - 24px);
}
.main-menu-closed .menu-item--active>span:before,
.main-menu-closed .menu-item__submenu--active>span:before,
.main-menu-closed .menu-item-animation:hover>span:before{
  text-decoration: none;
  width: 100%;
}
.main-menu-closed .menu-item--active,
.main-menu-closed .menu-item__submenu--active{
  color:var(--color-menu-link-hover, var(--color-accent-section, var(--color-accent)));
}
.main-menu-closed .menu-item__submenu--active>svg:last-child path,
.main-menu-closed .menu-item__submenu:hover>svg:last-child path{
 fill:var(--color-menu-link-hover, var(--color-accent-section, var(--color-accent)));
}
.main-menu-closed .submenu-container{
  position: relative;
  width:max-content;
  max-width: 100%;
}
.main-menu-closed .submenu-container .submenu-design__simple{
  top: -23px;
  left: calc(100% + 0px);
}
.main-menu-closed .submenu-container .menu-item__submenu--big+.submenu-design__simple{
  top: -21px;
}
.main-menu-closed .submenu-container:hover .submenu-design__simple{
  left: calc(100% + 10px);
}
.main-menu-closed .submenu-container .submenu-design__simple>*{
  z-index:1;
}
.main-menu-closed .submenu-container .submenu-design__simple:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(var(--header__submenu__top-offset, 10px) * -1);
}
.main-menu-closed .submenu-design__simple{
  width: 280px;
  padding: 15px 0;
}

.main-menu-closed .submenu-design__simple .submenu__item{
  font-size: var(--font-body2-size);
  line-height: var(--font-body2-line-height);
}
.main-menu-closed .menu-item__submenu--big+.submenu-design__simple .submenu__item{
  font-size: calc(19px * var(--font-h4h5h6_scale, var(--font-heading-scale)));
  font-family: var(--font-h4h5h6-family,var(--font-heading-family));
  font-style: var(--font-h4h5h6-style,var(--font-heading-style));
  font-weight: var(--font-h4h5h6-weight,var(--font-heading-weight));
  line-height: var(--font-heading-line-height);
  padding: 6px 20px;
}

.main-menu-closed .page-grid-2>*:nth-child(2n) .submenu-design__simple,
.main-menu-closed .page-grid-3>*:nth-child(3n) .submenu-design__simple,
.main-menu-closed .page-grid-4>*:nth-child(4n) .submenu-design__simple,
.main-menu-closed .page-grid-5>*:nth-child(5n) .submenu-design__simple,
.main-menu-closed .page-grid-5>*:nth-child(5n-1) .submenu-design__simple,
.main-menu-closed .page-grid-6>*:nth-child(6n) .submenu-design__simple,
.main-menu-closed .page-grid-6>*:nth-child(6n-1) .submenu-design__simple,
.main-menu-closed .page-grid-7>*:nth-child(7n) .submenu-design__simple,
.main-menu-closed .page-grid-7>*:nth-child(7n-1) .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n) .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n-1) .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n-2) .submenu-design__simple{
  left:calc(-100% + (100% - 280px));
}
.main-menu-closed .page-grid-2>*:nth-child(2n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-3>*:nth-child(3n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-4>*:nth-child(4n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-5>*:nth-child(5n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-5>*:nth-child(5n-1) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-6>*:nth-child(6n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-6>*:nth-child(6n-1) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-7>*:nth-child(7n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-7>*:nth-child(7n-1) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n-1) .submenu-container:hover .submenu-design__simple,
.main-menu-closed .page-grid-8>*:nth-child(8n-2) .submenu-container:hover .submenu-design__simple{
  left:calc(-100% + (100% - 280px) - 10px);
}
.main-menu-closed .page-grid-2>*:nth-child(2n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-3>*:nth-child(3n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-4>*:nth-child(4n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-5>*:nth-child(5n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-5>*:nth-child(5n-1) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-6>*:nth-child(6n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-6>*:nth-child(6n-1) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-7>*:nth-child(7n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-7>*:nth-child(7n-1) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-8>*:nth-child(8n) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-8>*:nth-child(8n-1) .submenu-container .submenu-design__simple:after,
.main-menu-closed .page-grid-8>*:nth-child(8n-2) .submenu-container .submenu-design__simple:after{
  left: var(--header__submenu__top-offset, 10px);
}
@media (max-width:1024px){
  #header-modal-mainmenu{
    display:none;
  }
}

.main-menu-closed__text-center .menu-item{
  text-align: center;
}
.main-menu-closed__text-center .menu-item__childs{
  display:flex;
  flex-direction: column;
  gap:1;
  justify-content: center;
  align-items: center;
}