.pagination__item span{
  position:relative;
  top:-1px;
}
@media (min-width:577px){
  .pagination__item-arrow:hover svg path {
    fill: var(--color-accent);
  }
}
@media (max-width:576px){
  .pagination__item{
    width:34px;
    height:34px;
  }
}
.pagination__list>li:not(.pagination-no-link) .pagination__item:not(.pagination__item-arrow):hover,
.pagination__item--current{
  background: var(--color-background-pagination-hover);
}
.pagination-no-link .pagination__item,
.pagination__item--current{
  cursor: default;
}
.hide_arrow,
span.pagination__item-arrow{
  display:none;
}
.pagination__item--prev{
  background: transparent;
  justify-content: flex-start;
  width:32px;
}
.pagination__item--next{
  background: transparent;
  justify-content: flex-end;
  width:32px;
}
.pagination-first-link+.pagination-no-link+li,
.pagination-first-link~.pagination-last-link+li{
  display: none;
}

