.sticky-active-works{
  background:var(--color-body-background);
}
@media(min-width:1025px){
  .section-header:has(sticky-header[class*="__desktop"].sticky-header__inited):not(:has(.stickyinit)){
    position:sticky!important;
    top:0px;
    z-index:20;
  }
  .section-header:has(sticky-header[class*="__desktop"].sticky-header__inited.sticky-header-scroll):not(:has(.stickyinit)){
    transition: top 0.6s var(--animation-bezier);
  }
  .section-header:has(sticky-header[class*="__desktop"].sticky-header__inited.sticky-header-scroll):not(:has(.stickyinit)):not(:has(.sticky-active)){
    top:var(--top-offset, -300px)!important;
  }
  .section-header:has(sticky-header[class*="__desktop"].sticky-header__inited.sticky-active):not(:has(.stickyinit)) .header__top-bar{
    opacity:0;
    visibility:hidden;
  }
  .vertical-sticky{
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    z-index:30;
    transform: translateY(-100%);
    opacity:0;
    visibility:hidden;
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
  }
  .vertical-sticky.sticky-active-works{
    opacity:1;
    visibility:visible;
  }
  .vertical-sticky:not(.sticky-active){
    pointer-events:none;
  }
  .vertical-sticky>*{
    width:100%;
  }
  .vertical-sticky.sticky-active{
    transform: none;
  }
}
@media(max-width:1024px){
  .section-header:has(.sticky-header[class*="__mobile"].sticky-header__inited):not(:has(.stickyinit)){
    position:sticky!important;
    z-index:30;
    background: var(--color-body-background);
  }
  .fixed-header-group .section-header{
    background: none!important;
  }
  .section-header:has(.sticky-header[class*="__mobile"].sticky-header__inited.sticky-header-scroll):not(:has(.stickyinit)){
    transition: top 0.6s var(--animation-bezier);
  }
  .section-header:has(.sticky-header[class*="__mobile"].sticky-header__inited.sticky-header-scroll):not(:has(.stickyinit)):not(:has(.sticky-active)){
    top:-300px!important;
  }
}
.sticky-activated~* .header__line{
  opacity:0;
  visibility:hidden;
}
.sticky-activated~* .header__main:not(:has(.section-background)){
  background:var(--color-section-background, var(--color-body-background));
}