.pickup-availability-preview{
  display:flex;
  flex-direction:row;
  gap: 8px;
  padding:20px;
  border:1px solid var(--color-lines);
  border-radius:var(--radius);
}
.pickup-availability-button{
  margin-top:16px;
}
.pickup-availability-address{
  font-style:normal;
}
.pickup-availability-address>*{
  margin-top:0;
}
.pickup-availability-caption{
  display:flex;
  flex-direction:row;
  gap:8px;
  align-items:flex-start;
}
.pickup-availability-caption svg{
  flex:0 0 auto;
}
.pickup-availability-list__item:not(:first-child){
  padding-top:40px;
}
.pickup-availability-list__item:not(:last-child){
  padding-bottom:40px;
  border-bottom: 1px solid var(--color-lines);
}
@media (max-width:1024px){
  .pickup-availability-list__item{
    padding-left:40px;
    padding-right:40px;
  }
}
@media (max-width:576px){
  .pickup-availability-list__item{
    padding-left:15px;
    padding-right:15px;
  }
}