localization-form>form{
  width:max-content;
}
.disclosure-form-field{
  display:flex;
  position:relative;
}
.disclosure-selector{
  display:flex;
  flex-direction:row;
  gap:5px;
  align-items:center;
  cursor: pointer;
  background:none;
  padding:0;
  color:var(--color-social-block, var(--color-base-section, var(--color-base)));
}
.disclosure-selector svg path{
  fill:var(--color-social-block, var(--color-base-section, var(--color-base)));
}
.disclosure-selector:active svg path,
.disclosure-selector:focus svg path,
.disclosure-selector:hover svg path,
.disclosure-selector:not(:focus):hover svg path{
  fill:var(--color-social-block, var(--color-base-section, var(--color-base)));
}
.disclosure-form-field__icon{
  display:flex;
}
.disclosure__list {
  margin-top: 0;
  max-width: 260px;
  min-width: 200px;
  width: max-content;
  padding: 11px 8px 11px 16px;
  position: absolute;
  bottom: 100%;
  border-radius: var(--radius-menu);
  transform: translateY(-10px);
  z-index: 2;
  --color-base: var(--color-input-text-main);
  background-color: var(--color-submenu-bg-block, var(--color-simple-dropdown));
  box-shadow: var(--shadow);
}
menu-drawer localization-form:only-child .disclosure__list {
  width:100%;
  max-width: unset;
}
menu-drawer localization-form:not(:only-child) .disclosure__list {
  width:calc(200% + 10px);
  max-width: unset;
}
.disclosure__list__content{
  min-height: 76px;
  max-height: 290px;
  overflow-x: hidden;
  overflow-y: auto;
}
.disclosure-selector+.disclosure__list {
  opacity: 1;
  animation: animateLocalization var(--duration-short) ease;
}
.disclosure__list.toright{
  right:0;
}
.disclosure__list.tobottom{
  bottom:unset;
  top:calc(100% + 15px);
}
.disclosure__list__content .disclosure__link{
  color: var(--color-submenu-text-block, var(--color-base-section, var(--color-base)));
  --color-link-text-hover: var(--color-submenu-text-block-hover, var(--color-accent-section, var(--color-accent)));
}
.disclosure__list__content .disclosure__link.link-active{
  color: var(--color-submenu-text-block-hover, var(--color-accent-section, var(--color-accent)));
}
@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes animateSortBy {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
.disclosure__link{
  padding:5px 0;
}
@media (max-width: 1024px){
  .disclosure__link{
    padding:10px 0;
  }
}
@media (max-width: 576px){
  .disclosure__list{
    width: 100%;
    max-width: 100%;
  }
}
.disclosure-form-field__text{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  text-align: left;
}
.disclosure-form-field__flag {
  display:inline-flex;
  width: 20px;
  height: 20px;
  clip-path: circle(50%);
  background-position: center;
  background-size: cover;
}