#main-cart-footer.is-empty,
.is-empty .cart-page__heading,
.is-empty .cart__contents{
  display:none;
}
.is-empty .cart__warnings{
  display: flex;
}
.cart__warnings{
  display:none;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.cart__warnings__icon svg{
  width:40px;
  height:40px;
  opacity:0.2;
}

.totals{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.cart-item-message__content{
  display:flex;
  flex-direction:row;
  gap:8px;
  color:var(--color-error);
}
.cart-item-message__content__text{
  order: 1;
  padding-top: 3px;
}
.cart-item-message__content svg{
  flex:0 0 auto;
}
.cart-item-message__content svg path{
  fill:var(--color-error);
}
.cart-item-message:empty{
  display:none;
}
.discounts__discount+.discounts__discount{
  margin-top:3px;
}
.cart-item__error-text:empty,
.cart-item__error-text:empty+svg{
  display:none;
}
.cart-item__error-text:not(:empty),
.cart-item__error-text:not(:empty)+svg{
  margin-top:10px;
}
.discounts:not(:empty)+.cart-item__error .cart-item__error-text:not(:empty),
.discounts:not(:empty)+.cart-item__error .cart-item__error-text:not(:empty)+svg{
  margin-top:3px;
}


.product-option{
  display:flex;
  flex-direction:row;
  gap:3px;
}
.product-option+.product-option{
  margin-top:3px;
}

.cart-item__quantity{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:20px;
}
.cart-item__quantity .quantity {
  width: 118px;
}
.cart-item__remove-button{
  padding:10px;
}
.cart-item__remove-button:hover svg path {
  fill: var(--color-icons-hover, var(--color-accent));
}

.loading-overlay:not(.hidden)~* {
  display: none;
}
.loading-overlay .loading-overlay__spinner{
  position:relative;
}

.main-cart-items__wrapper{
  border-top:1px solid var(--color-lines);
}
.cart-item{
  margin-top:40px;
  display:flex;
  flex-direction:row;
  gap:20px;
}
.cart-item__headings-bar__image,
.cart-item .cart-item__media{
  flex:0 0 210px;
}
.cart-item__headings-bar{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top:40px;
  padding-bottom:10px;
}
@media (min-width:1025px){
  .cart-item{
    align-items:center;
  }
  .cart-item__headings-bar__info,
  .cart-item .cart-item__details{
    display:flex;
    flex-direction:row;
    flex-grow: 1;
    align-items:center;
    gap:20px;
  }
  .cart-item__headings-bar__product,
  .cart-item .cart-item__details__items{
    flex:0 0 calc(100% - 41.66666% - 230px / 2)
  }
  .cart-item__details:only-child .cart-item__details__items{
    flex:0 0 calc(100% - 41.66666% - 20px);
  }
  .cart-item__headings-bar__qty,
  .cart-item .cart-item__quantity{
    flex:0 0 20%;
  }
  .cart-item__headings-bar__total,
  .cart-item .cart-item__totals{
    flex:1 0 auto;
    text-align:right;
  }
}
@media (max-width:1024px){
  .cart-item__headings-bar__image,
  .cart-item .cart-item__media{
    flex:0 0 25%;
  }
  .main-cart-items__wrapper{
    margin-top:40px;
  }
  .cart-item__headings-bar{
    display:none;
  }
  .cart-item .cart-item__quantity{
    margin-top:20px;
  }
  .cart-item .cart-item__totals{
    margin-top:20px;
  }
}
@media (max-width:576px){
  .cart-item .cart-item__media{
    flex:0 0 calc(33.33333% - 15px / 2);
  }
  .cart-item{
    gap:15px;
  }
}

@media (min-width:1025px){
  .cart__blocks__container{
    display:flex;
    flex-direction:row;
  }
  .cart__blocks__container .cart__notes__container{
    flex:1 0 auto;
    padding-right:40px;
  }
  .cart__blocks__container .cart__blocks{
    flex:0 0 41.66666%;
  }
}
@media (max-width:1024px){
  .cart__notes__container:empty{
    display:none;
  }
  .cart__blocks__container{
    display:flex;
    flex-direction:column;
    gap:40px;
  }
}
