.password-header--bottom-line{
  border-bottom:1px solid var(--color-lines);
}
.desktop-header,.mobile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 10px 0;
}
.mobile-header{
  min-height: 50px;
}
.logo-icon{
  --color-heading-block:var(--color-accent);
  color:var(--color-accent);
}
.header__heading-logo--svg{
  display: flex;
}
.header__heading-logo--svg svg{
  width: var(--max-width);
  height: var(--max-height);
  max-width:100%;
}
@media (min-width:1025px){
  .mobile-header{
    display: none;
  }
  .logo-zoom-in>*{
    transform: scale(1);
    transition: transform var(--duration-medium) var(--animation-bezier);
  }
  .logo-zoom-in:hover>*{
    transform: scale(0.75);
  }
}
@media (max-width:1024px){
  .desktop-header{
    display: none;
  }
}