.list-of-products{
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:10px 0;
    border-top:1px solid var(--color-lines);
    gap:10px;
}
.list-of-products:last-child{
    border-bottom:1px solid var(--color-lines);
}
.list-of-products__content .price {
    margin-top:0;
}
.list-of-products__content .unit-price{
    display:none;
}
.list-of-products__content__vendor{
    color:var(--color-meta-products-block, var(--color-base-section, var(--color-base)));
}
.list-of-products .list-of-products__content__heading__text{
    color:var(--color-product-name-block, var(--color-base-section, var(--color-base)));
    --color-hover: var(--color-animation-underline, var(--color-accent-section, var(--color-accent)));
    transition: color var(--duration-medium) var(--animation-bezier);
}
.list-of-products:hover .list-of-products__content__heading__text{
    color:var(--color-product-name-block-hover, var(--color-accent-section, var(--color-accent)));
}
.list-of-products__image-holder img{
    opacity: 1!important;
}
@media (min-width: 577px) {
    .list-of-products__content{
        display:flex;
        flex-direction:row;
        align-items: center;
        width: 100%;
        gap:20px;
    }
    .list-of-products__content>:first-child {
        flex: auto;
    }
    .list-of-products__content .list-of-products__content__vendor {
        flex: 0 0 10%;
    }
    .list-of-products__content .list-of-products__content__vendor:last-child{
        text-align: right;
    }
    .list-of-products__content .list-of-products__content__price {
        flex: 0 0 30%;
        text-align: right;
    }
    .list-of-products__content > *,
    .list-of-products__content .price > *{
        margin-top:0;
    }
}
@media (min-width:577px) and (max-width:1024px){
    .list-of-products__content .list-of-products__content__vendor {
        flex: 0 0 20%;
    }
}
@media (min-width: 1025px) {
    .list-of-products__content .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    .list-of-products__image-holder{
        display:none;
        position: fixed;
        top: 0;
        left: max(calc(20% + var(--grid-padding)), calc(var(--page-width) * .2 + (100% - var(--page-width)) / 2));
        width: min(calc((var(--page-width) - (var(--page-width) - 100%) - var(--grid-padding) * 2) * 0.3), calc(var(--page-width) * 0.3));
        height: auto !important;
        z-index: 100;
        top: 50%;
        transform: translate(0, -50%);
        pointer-events: none;
    }
    .page-wide .list-of-products__image-holder{
        left: calc(20% + var(--grid-padding));
        width: calc((100% - var(--grid-padding) * 2) * 0.3);
    }
    .list-of-products:hover{
        z-index: 10;
    }
    .list-of-products:hover .list-of-products__image-holder{
        display:block;
    }
}
@media (max-width: 1024px) {
    .list-of-products .list-of-products__image-holder {
        flex: 0 0 calc(100% / 5);
    }
    .list-of-products{
        padding:15px 0;
    }
}
@media (max-width: 576px) {
    .list-of-products{
        gap:15px;
    }
    .list-of-products__content{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        gap:3px;
    }
    .list-of-products .list-of-products__image-holder {
        flex: 0 0 calc(100% / 3);
    }
    .list-of-products .list-of-products__content__vendor {
        order:0;
    }
    .list-of-products .list-of-products__content__heading{
        order:1;
    }
    .list-of-products .list-of-products__content__price {
        order:2;
    }
    .list-of-products .price__regular+.price__sale{
        margin-top:6px;
    }
}