.bcollage-grid .banner__block-item{
  height:100%;
}
.bcollage-grid .image-hover-box{
  width:100%;
  height:100%;
}
.bcollage-grid .image-hover-box>*{
  height:100%;
}
@media (min-width:1025px){
  .page-fullwidth .bcollage-grid .banner__block-item{
    width: calc(100% + 1px);
  }
}
@media (min-width:577px){
  .bcollage-grid__container{
    display:flex;
    height:max-content;
  }
  fullscreen-object-collage .bcollage-grid__container{
    height: 100%;
  }
  .bcollage-grid{
    display: grid;
    width:calc(100% + var(--page-padding));
    margin:calc(var(--page-padding) * -1 / 2);
  }
  .page-fullwidth .bcollage-grid{
    width:100%;
    margin:0;
  }
  .grid-fixed-height{
    grid-template-rows: 50% 50%;
    height:100px;
  }
  .bcollage-aspect-ratio{
    grid-template-rows: 50% 50%;
    aspect-ratio:var(--bcollage-ratio-desktop, auto);
    height:100%
  }
  .bcollage-grid>*{
    padding:calc(var(--page-padding) / 2);
  }
  .bcollage-type-2{
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-areas:
        "area1 area1 area2"
        "area1 area1 area2";
  }
  .bcollage-type-2--2{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area2"
        "area1 area2";
  }
  .bcollage-type-3{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area2"
        "area1 area3";
  }
  .bcollage-type-3--2{
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-areas:
        "area1 area1 area2"
        "area1 area1 area3";
  }
  .bcollage-type-4{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area1 area1 area2 area3"
        "area1 area1 area4 area4";
  }
  .bcollage-type-5{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area1 area3 area3 area4"
        "area2 area3 area3 area5";
  }
  .bcollage-type-6{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area1 area3 area4 area5"
        "area2 area3 area6 area6";
  }

  .swap-preset-banners-content.bcollage-type-2{
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-areas:
        "area2 area1 area1"
        "area2 area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-2--2{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area2 area1"
        "area2 area1";
  }
  .swap-preset-banners-content.bcollage-type-3{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area2 area1"
        "area3 area1";
  }
  .swap-preset-banners-content.bcollage-type-3--2{
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-areas:
        "area2 area1 area1"
        "area3 area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-4{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area2 area3 area1 area1"
        "area4 area4 area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-5{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area4 area3 area3 area1"
        "area5 area3 area3 area2";
  }
  .swap-preset-banners-content.bcollage-type-6{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "area5 area4 area3 area1"
        "area6 area6 area3 area2";
  }
  
  .bcollage-area-1 {
    grid-area:area1;
  }
  .bcollage-area-2 {
    grid-area:area2;
  }
  .bcollage-area-3 {
    grid-area:area3;
  }
  .bcollage-area-4 {
    grid-area:area4;
  }
  .bcollage-area-5 {
    grid-area:area5;
  }
  .bcollage-area-6 {
    grid-area:area6;
  }
  .page-fullwidth .bcollage-grid{
    margin:0;
  }
  .page-fullwidth .bcollage-grid>*{
    padding:0;
  }
}
@media (min-width:1025px){
  fullscreen-object-collage>*{
    height:100%;
  }
  fullscreen-object-collage .bcollage__fullscreen__container .section-background,
  fullscreen-object-collage .bcollage__fullscreen__container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  fullscreen-object-collage .bcollage-grid__container__js{
    grid-template-rows: 100%;
    flex-shrink: 1;
    overflow: hidden;
    height: 100%;
  }
}
@media (min-width:577px) and (max-width:1024px){
  .bcollage-aspect-ratio:not(.bcollage-type-2){
    grid-template-rows: 25% 25% 25% 25%;
    aspect-ratio:var(--bcollage-ratio-tablet, auto);
  }
  .bcollage-type-2.bcollage-aspect-ratio{
    aspect-ratio:var(--bcollage-ratio-tablet2, auto);
  }
  .swap-preset-banners-content.bcollage-type-2{
    grid-template-areas:
        "area2 area1 area1"
        "area2 area1 area1";
  }
  .bcollage-type-2--2{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area1"
        "area1 area1"
        "area2 area2"
        "area2 area2";
  }
  .bcollage-type-3{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area1"
        "area1 area1"
        "area2 area2"
        "area3 area3";
  }
  .bcollage-type-3--2.bcollage-aspect-ratio{
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.333333% 33.333333% 33.333333%;
    aspect-ratio: var(--bcollage-ratio-tablet3-2, auto);
    grid-template-areas:
        "area1 area1"
        "area1 area1"
        "area2 area3";
  }
  .bcollage-type-4{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area1"
        "area1 area1"
        "area2 area3"
        "area4 area4";
  }
  .bcollage-type-5{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area2"
        "area3 area3"
        "area3 area3"
        "area4 area5";
  }
  .bcollage-type-6{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area1 area3"
        "area2 area3"
        "area4 area5"
        "area6 area6";
  }

  .swap-preset-banners-content.bcollage-type-2--2{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area2 area2"
        "area2 area2"
        "area1 area1"
        "area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-3{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area3 area3"
        "area2 area2"
        "area1 area1"
        "area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-3--2.bcollage-aspect-ratio{
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.333333% 33.333333% 33.333333%;
    aspect-ratio: var(--bcollage-ratio-tablet3-2, auto);
    grid-template-areas:
        "area2 area3"
        "area1 area1"
        "area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-4{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area4 area4"
        "area2 area3"
        "area1 area1"
        "area1 area1";
  }
  .swap-preset-banners-content.bcollage-type-5{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area4 area5"
        "area3 area3"
        "area3 area3"
        "area1 area2";
  }
  .swap-preset-banners-content.bcollage-type-6{
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "area6 area6"
        "area4 area5"
        "area2 area3"
        "area1 area3";
  }
}
@media (max-width:576px){
  .bcollage-grid{
    display:flex;
    flex-direction:column;
    gap:var(--main-row-gap-mobile);
  }
  .page-fullwidth .bcollage-grid{
    gap:0;
  }
  .swap-preset-banners-content.bcollage-grid{
    flex-direction: column-reverse;
  }
  .bcollage-grid .banner__block-item{
    aspect-ratio:var(--bcollage-ratio-mobile,auto);
  }
}
.bcollage-grid .swiper{
  padding:0;
  margin:0;
  border-radius:var(--radius);
}
.page-fullwidth .bcollage-grid .swiper{
  margin:0;
  border-radius:0;
}
.bcollage-grid .swiper-slide>*{
  height:100%;
}
@media (min-width:577px){
 .bcollage-grid .swiper{
    margin: calc(var(--page-padding) / 2);
  }
}
.bcollage-grid .internal-swiper-button-prev,
.bcollage-grid .internal-swiper-button-next{
  opacity: 1;
}
.bcollage-grid .swiper .internal-swiper-button-prev[aria-disabled=true],
.bcollage-grid .swiper .internal-swiper-button-next[aria-disabled=true] {
  opacity: 0.3;
}
.bcollage-grid .internal-swiper-button-prev {
  left: 10px;
}
.bcollage-grid .internal-swiper-button-next {
  left: auto;
  right: 10px;
}
.bcollage-grid [class*="internal-swiper-button"] {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 2;
}
@media (min-width:577px){
  [class*="bcollage-arrows-position-bottom"] [class*="internal-swiper-button"] {
    top:unset;
    bottom: 10px;
    transform: unset;
  }
  .bcollage-arrows-position-bottom-left .internal-swiper-button-next{
    left:55px;
    right:unset;
  }
  .bcollage-arrows-position-bottom-right .internal-swiper-button-prev{
    left:unset;
    right:55px;
  }
  [class*="bcollage-arrows-position-bottom"] .swiper .banner__block-item__content{
    padding-bottom: 60px;
  }
}
@media (max-width:576px){
  [class*="bcollage-arrows-position-mobile-bottom"] [class*="internal-swiper-button"] {
    top:unset;
    bottom: 10px;
    transform: unset;
  }
  .bcollage-arrows-position-mobile-bottom-left .internal-swiper-button-next{
    left:55px;
    right:unset;
  }
  .bcollage-arrows-position-mobile-bottom-right .internal-swiper-button-prev{
    left:unset;
    right:55px;
  }
  [class*="bcollage-arrows-position-mobile-bottom"] .swiper .banner__block-item__content{
    padding-bottom: 60px;
  }
}