image-comparison {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius:0;
    width: 100%;
    height: var(--desktop-height, unset);
    --percent: 50%;
    user-select: none;
}
.js image-comparison[animate] {
    --percent: 50%;
}
.js image-comparison {
    --percent: 15%;
}
image-comparison.animating{
    animation: slide-in-then-center 1500ms ease forwards;
}
image-comparison.animating .comparison-after,
image-comparison.animating .comparison-before {
  transition: clip-path 750ms ease;
}
image-comparison.animating button[data-comparison-button]{
  transition: left 750ms ease;
}

@keyframes slide-in-then-center {
    0% {
        --percent: 15%;
    }
    50% {
        --percent: 85%;
    }
    100% {
        --percent: 50%;
    }
}

.page-fullwidth image-comparison{
    --custom-radius-mask:0;
    --custom-radius:0;
}
.page-fullwidth .banner__block-item{
    border-radius: 0;
}
image-comparison .comparison-before .banner__block-item__content{
    width:50%;
}
image-comparison .comparison-after .banner__block-item__content{
    left:50%;
    width:50%;
}
@media (min-width:577px){
    .image-comparison__mobile{
        display: none;
    }
}
@media (max-width:576px){
    image-comparison {
        height: var(--mobile-height, unset);
    }
    image-comparison .banner__block-item__content{
        display: none;
    }
    .image-comparison__mobile{
        margin-top:13px;
    }
    .h4_mobile{
        font-size: calc(24px * var(--font-heading-scale));
    }
}
image-comparison .comparison-before{
    overflow: hidden;
}
image-comparison .comparison-after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
image-comparison .comparison-before,
image-comparison .comparison-before>*,
image-comparison .comparison-after,
image-comparison .comparison-after>*,
image-comparison .banner__block-item,
image-comparison .banner__block-item .image-hover-box,
image-comparison .banner__block-item .image-hover-box>*{
    height:100%;
}
image-comparison .comparison-before {
    clip-path: inset(0 calc(100% - var(--percent) + 2px) 0 0 round var(--custom-radius-mask, var(--radius)));
}
image-comparison .comparison-after {
    clip-path: inset(0 0 0 calc(var(--percent) + 2px) round var(--custom-radius-mask, var(--radius)));
}
image-comparison button[data-comparison-button]{
    position: absolute;
    top:0;
    left: var(--percent);
    transform: translateX(-50%);
    background-color:transparent;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: col-resize;
    z-index: 3;
    outline: none;
    user-select: none;
    touch-action: none;
}
image-comparison button[data-comparison-button] .comparison-button-item{
    position: absolute;
    background-color:var(--color-button-bg-block, var(--color-body-background));
    border-radius: var(--radius-button);
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    outline: none;
    user-select: none;
    touch-action: none;
}
image-comparison button[data-comparison-button] .comparison-button-item svg path{
    fill: var(--color-comparison-icons-block, var(--color-base-section, var(--color-text-icons-main)));
}
image-comparison.scrolling button[data-comparison-button] {
    cursor: grabbing;
}
image-comparison.scrolling .comparison-before,
image-comparison.scrolling .comparison-after{
    pointer-events:none;
}
