.section-media-block-content{
  display:flex;
  gap:10px;
  align-items:flex-start;
}
.section-media-block-content-center{
  align-items:center;
}
.section-media-icon{
  display:flex;
  flex: 0 0 auto;
}
.text-center .section-media-block-content{
  justify-content:center;
}
@media (min-width:577px){
  .section-media-block__container{
    display:flex;
    flex-direction:row;
  }
  .section-media-block__container.section-media-block__container--flip .section-media-block__container__image{
    order: 1;
  }
  .section-media-block__container.section-media-block__container--flip .section-media-block__container_content{
    order: 0;
  }
}
.section-media-block__container .section-media-block__container__image:only-child{
    flex: 0 0 100%;
    padding-right:0;
}
@media (min-width:577px) and (max-width:1024px){
  .section-media-block__container .section-media-block__container__image{
    flex: 0 0 50%;
  }
  .section-media-block__container .section-media-block__container_content{
    flex: 0 0 50%;
    padding-left:40px;
  }
  .section-media-block__container.section-media-block__container--flip .section-media-block__container_content{
    padding-left:0;
    padding-right:40px;
  }
}
@media (min-width:1025px){
  .section-media-block__container .section-media-block__container__image{
    flex: 0 0 calc(100% - var(--text-content-width, 50%));
  }
  .section-media-block__container .section-media-block__container_content{
    padding-left:var(--text-content-padding);
    flex: 0 0 calc(var(--text-content-width, 50%));
  }
  .section-media-block__container.section-media-block__container--flip .section-media-block__container_content{
    padding-left:0;
    padding-right:var(--text-content-padding);
  }
  .section-background--fill .section-media-block__container .section-media-block__container__image{
    flex: 0 0 calc(100% - var(--text-content-width, 50%));
  }
  .section-background--fill .section-media-block__container .section-media-block__container_content{
    flex: 0 0 calc(var(--text-content-width, 50%));
  }
}
@media (max-width:576px){
  .section-media-block__container>*+*{
    margin-top:30px;
  }
}

[data-section-name*="media-with-text"] .page-fullwidth {
  --custom-image-radius:0;
}
[data-section-name*="media-with-text"] .page-fullwidth .section-background{
  border-radius:0;
}
.section-background.section-background--fill{
  padding: 0;
}
.section-background--fill .image-hover-box{
  border-radius:0;
}
.section-background--fill .section-media-block__container_content{
  padding-top: var(--section-background-spacing, 0);
  padding-bottom: var(--section-background-spacing, 0);
}
.section-background.section-background--fill{
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
@media (min-width:577px){
  .section-background--fill .section-media-block__container__image{
    position:relative;
  }
  .section-background--fill .image-hover-box__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .section-background--fill .image-hover-box,
  .section-background--fill .image-hover-box > *{
    height:100%;
  }
  .section-background--fill .section-media-block__container_content{
    padding-left:40px;
    padding-right:40px;
  }
  .section-background--fill .section-media-block__container.section-media-block__container--flip .section-media-block__container_content{
    padding-left:40px;
  }
}
@media (min-width:1025px){
  .section-background--fill .section-media-block__container_content{
    padding-left:var(--text-content-padding);
    padding-right:var(--text-content-padding);
  }
  .section-background--fill .section-media-block__container.section-media-block__container--flip .section-media-block__container_content{
    padding-left:var(--text-content-padding);
  }
}
@media (min-width: 577px) and (max-width: 1024px) {
  .section-background--fill .section-media-block__container .section-media-block__container__image:not(:only-child){
    flex: 0 0 50%;
    padding-left: 0;
    padding-right: 0;
  }
  .section-background--fill .section-media-block__container .section-media-block__container_content:not(:only-child){
    flex: 0 0 50%;
  }
  .section-background--fill .section-media-block__container.section-media-block__container--flip .section-media-block__container__image:not(:only-child){
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width:576px){
  .section-background--fill .section-media-block__container_content{
    padding-top: 0;
    padding-right:15px;
    padding-left:15px;
    margin-top:var(--section-background-spacing-mobile, 0);
    padding-bottom:var(--section-background-spacing-mobile, 0);
  }
}