.section-media-block-content{
  display:flex;
  gap:10px;
  align-items:flex-start;
}
.section-media-block-content-center{
  align-items:center;
}
.section-media-icon{
  display:flex;
  flex: 0 0 auto;
}
.text-center .section-media-block-content{
  justify-content:center;
}
.media-with-text-collage__container{
    --custom-gap:40px;
    display: flex;
    flex-direction: row;
    gap: var(--custom-gap);
}
.media-with-text-collage__container:not(:has(.media-with-text-collage__container_content)){
    --custom-padding:40px;
}
.media-with-text-collage__container .media-with-text-collage__container__image{
    --page-padding:10px;
}
@media (min-width:1025px){
    .media-with-text-collage__container .media-with-text-collage__container_content{
        flex:0 0 calc(var(--text-content-width, 40%) - var(--custom-gap) * 2);
    }
    .media-with-text-collage__container .media-with-text-collage__container__image{
        flex:0 0 calc((100% - var(--text-content-width, 40%)) / 2);
    }
    .media-with-text-collage__align-left .media-with-text-collage__container_content{
        flex:0 0 calc(var(--text-content-width, 40%) - var(--custom-gap));
        order:0;
    }
    .media-with-text-collage__align-left .media-with-text-collage__container__image{
        flex:0 0 calc(100% - var(--text-content-width, 40%));
        order:1;
    }
    .media-with-text-collage__align-right .media-with-text-collage__container_content{
        flex:0 0 calc(var(--text-content-width, 40%) - var(--custom-gap));
        order:1;
    }
    .media-with-text-collage__align-right .media-with-text-collage__container__image{
        flex:0 0 calc(100% - var(--text-content-width, 40%));
        order:0;
    }
    .media-with-text-collage__align-center .media-with-text-collage__container__image>*:first-child{
        max-width: 100%;
    }
}
@media (max-width:1024px){
    .media-with-text-collage__container .media-with-text-collage__container__image,
    .media-with-text-collage__container .media-with-text-collage__container_content{
        width: 100%;
    }
    .media-with-text-collage__container{
        flex-wrap: wrap;
    }
}
@media (min-width:577px) and (max-width:1024px){
    .media-with-text-collage__align-center [data-items="1"] .wokiee-masonry__item{
        width:100%;
    }
    .media-with-text-collage__align-center:has([data-items="1"]){
        column-gap: 10px;
    }
    .media-with-text-collage__align-center [data-items="1"]{
        width: calc((100% - 10px) / 2);
    }
    .media-with-text-collage__align-center [data-items="1"]:first-child{
        order:0;
    }
    .media-with-text-collage__align-center [data-items="1"]:last-child{
        order:1;
    }
    .media-with-text-collage__align-center [data-items="1"]+.media-with-text-collage__container_content{
        order:2;
    }
}
@media (max-width:576px){
    .media-with-text-collage__align-center [data-items="1"] .wokiee-masonry__item{
        width:100%;
    }
    .media-with-text-collage__align-center .media-with-text-collage__container__image>*:first-child{
        max-width: 100%;
    }
}