.article-heading>*:not(:first-child){
  margin-top:var(--main-text-top-offset);
}
.article-featured-image,
.article-container,
.article-template__social-sharing{
  margin-top:40px;
}
.article-container{
  word-break: break-word;
}
.share-button.success .share-button__copy{
  display:none;
}
.share-button__message{
  display: flex;
  min-width: max-content;
  align-items: center;
}
.errors-container{
  margin:40px 0 30px;
}
.errors-container+*{
  margin-top:0;
}
.errors ul{
  margin-top:var(--main-form-elements-top-offset);
  font-size: var(--font-body2-size);
  line-height: var(--font-body2-line-height);
}
.article-template__comment-warning+*{
  margin-top:16px;
}
.article-template__comments-comment{
  padding:30px;
  border-radius:var(--radius);
  background: rgba(var(--color-base-rgb),.05);
}
.article-template__comments-comment__container>*{
  margin-top:10px;
}
.article-template__comments-comment+.article-template__comments-comment{
  margin-top:var(--main-text-section-top-offset);
}
.article-template__comments .pagination-wrapper{
  margin-top:20px;
}
.comments__heading.text-center~.article-template__comments .pagination__list{
  justify-content: center;
}